<footer class="post-info">
        <li><abbr class="published" title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
        </abbr></li>
        
        

{% include 'taglist.html' %}
{% include 'translations.html' %}
</footer><!-- /.post-info -->
